[peer_private]
0

[peers_max]
1027

[overlay]
ip_limit = 1024

[ledger_history]
full

[network_id]
21338

[server]
port_rpc_admin_local
port_peer
port_ws_admin_local
port_ws_public
port_rpc_public

[port_rpc_admin_local]
port = 15005
ip = 127.0.0.1
admin = 127.0.0.1
protocol = http

[port_peer]
limit = 100
ip = 0.0.0.0
protocol = peer
port=21338

[port_ws_admin_local]
port = 16005
ip = 127.0.0.1
admin = 127.0.0.1
protocol = ws

[port_ws_public]
port = 16006
ip = 0.0.0.0
protocol = ws
secure_gateway = 127.0.0.1
limit = 50000
send_queue_limit = 20000
websocket_ping_frequency = 10

[port_rpc_public]
port = 16007
ip = 0.0.0.0
protocol = http
secure_gateway = 127.0.0.1

[node_size]
medium

# In case of source network (Testnet)
# [xpop_dir]
# /opt/xahaud/xpop

[node_db]
type=NuDB
path=/opt/xahaud/db/nudb
advisory_delete=0

[database_path]
/opt/xahaud/db

[debug_logfile]
/opt/xahaud/log/debug.log

[sntp_servers]
time.windows.com
time.apple.com
time.nist.gov
pool.ntp.org

[validators_file]
/opt/xahaud/etc/validators-xahau.txt

[rpc_startup]
{ "command": "log_level", "severity": "debug" }
#fatal, error, warn, info, debug, and trace

[ssl_verify]
0

[features]
Flow
FlowCross
fix1513
DepositAuth
Checks
fix1571
fix1543
fix1623
DepositPreauth
fix1515
fix1578
MultiSignReserve
fixTakerDryOfferRemoval
fixMasterKeyAsRegularKey
fixCheckThreading
fixPayChanRecipientOwnerDir
DeletableAccounts
fixQualityUpperBound
RequireFullyCanonicalSig
fix1781
HardenedValidations
fixAmendmentMajorityCalc
TicketBatch
FlowSortStrands
fixSTAmountCanonicalize
fixRmSmallIncreasedQOffers
CheckCashMakesTrustLine
Hooks
ExpandedSignerList
PaychanAndEscrowForTokens
DisallowIncoming
URIToken
BalanceRewards
ImmediateOfferKilled

[ips]
# TN4  nHDs6fHVnhb4ZbSFWF2dTTPHoZ6Rr39i2UfLotzgf8FKUi7iZdxx
68.183.1.245 21338
# TN5  nHUvgFxT8EGrXqQZ1rqMw67UtduefbaCHiVtVahk9RXDJP1g1mB4
159.65.199.56 21338
# TN6  nHU7Vn6co7xEFMBesV7qw7FXE8ucKrhVWQiYZB5oGyMhvqrnZrnJ
139.59.98.59 21338
# TN7  nHBoJCE3wPgkTcrNPMHyTJFQ2t77EyCAqcBRspFCpL6JhwCm94VZ
65.108.232.251 21338
# TN8  nHUVv4g47bFMySAZFUKVaXUYEmfiUExSoY4FzwXULNwJRzju4XnQ
65.108.232.250 21338
# TN9  nHBvr8avSFTz4TFxZvvi4rEJZZtyqE3J6KAAcVWVtifsE7edPM7q
88.99.3.241 21338
# TN10 nHUH3Z8TRU57zetHbEPr1ynyrJhxQCwrJvNjr4j1SMjYADyW1WWe
88.99.4.45 21338
# TN11 nHBdSXv3DhYJVXUppMLpCwJWDFVQyFdZrbMxeh8CFiBEvfTCy3Uh
185.239.60.22 21311
# TN12 nHUJbfgaAtkbuAdtrqCDerP99PcprcpyqakZTsYpkQdb67aKKyJn
185.239.60.22 21312
